body {
	display: flex;
	flex-direction: column;
	font-family: Roboto;
}

header {
	background-color: #1F2937;
}

.header-bar {
	display: flex;
	justify-content: space-around;
}

.header-bar p {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	list-style-type: none;
	display: flex;
	align-items: center;
	gap: 2rem;
}

a {
	color: #E5E7EB;
	text-decoration: none;
}

footer {
	background-color: #1F2937;
	color: #E5E7EB;
	display: flex;
	justify-content: center;
	align-items: center;
}
